*{
    margin: 0;
}
header{
    height: 18vh;
}
.section1{
    height: 48%;
    width: 100%;
    background-color: gray;
}
.section2{
    height: 48%;
    background-color: gray;
    position: absolute;
    bottom: 0;
}
main{
    height: 40vh;
    border: 1px solid;  
}
.section3{
    height: 48%;
    background-color: gray;
}
